@import '../../scss/variables';

.popup-menu {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  z-index: 1;

  ul {
    overflow: hidden;
    li {
      padding: 12px 20px;
      cursor: pointer;

      &.active,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &.active {
        font-weight: bold;
        color: $orange;
      }
    }
  }
}
